@import '../../node_modules/tailwindcss';
@import "./layout.css";

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


:root {
    --date-picker-background: oklch(98.5% 0.002 247.839);
}